<%- include("partials/header"); %>

<body>
  <h1><%= title %></h1>
  <img src="<%= posterUrl %>" />
  <h3>Released: <%= released %></h3>
  <h3>Actors: <%= actors %></h3>
  <h3>Director: <%= director %></h3>
  <h3>Imdb Rating: <%= imdbRating %></h3>
  <h3>Genre: <%= genre %></h3>
  <h3>Plot: <%= plot %></h3>
  <h3>Language: <%= language %></h3>
</body>

<%- include("partials/footer"); %>
